extends layout 

block content 
    div(class="right aligned ui")
        a(class="ui red tag label font-2em") 재원이의 TMI
    <br>
    div(class="ui cards")
        div(class="card font-2em")
            div(class="content")
                div(class="header font-header")
                    | 제 이름은
            div(class="content")
                div(class="description")
                    | 저의 이름은 최재원 입니다. <br>
                    | 있을 재(在), 으뜸 원(元) <br>
                    | 으뜸이 있다란 뜻으로 최고를 상징하는 이름이지만 
                    | 결코 이름 대로 살아가진 않다는 산 증인입니당 ㅋ  <br>
                    | 그리고 중요한 건 솔로 입니다!<br>(뭣이중한디 ㅠㅠ)
        div(class="card font-2em")
            div(class="content")
                div(class="header font-header")
                    | 지금 사는 곳은
            div(class="content")
                div(class="description")
                    | 현재는 안산 선부동에 살고 있어요. <br>
                    | 안산에는 2010년도에 처음 와서 누나 댁에서 같이 살다가
                    | 월피동으로 이사해서 4년간 있다가, 이번년도 5월에 이사 하고 혼자 살고 있답니당~
        div(class="card font-2em")
            div(class="content")
                div(class="header font-header")
                    | 성격은
            div(class="content")
                div(class="description")
                    | 신중한 편이긴 한데, 장난끼가 좀 있습니다. <br>
                    | 모두가 그럴 수도 있지만, 친해지면 장난치면서 분위기를 좀 가볍게 하려고 합니다.<br>
                    | 신중한 편이라 가끔 진중한 이야기를 하면 분위기가 무거워지거든용 ^^
        div(class="card font-2em")
            div(class="content")
                div(class="header font-header")
                    | 직업은
            div(class="content")
                div(class="description")
                    | 탁탁톡톡 프로그래밍 개발자 입니다. <br>
                    | 이 곳에는 협력업체로 들어와 있죵~ (정보운영팀에 있습니다)<br>
                    | 특별한 일이 없는 이상, 계속 다닐 거 같아요(사람이 잘 안구해지나봐요~)
        div(class="card font-2em")
            div(class="content")
                div(class="header font-header")
                    | 취미는
            div(class="content")
                div(class="description")
                    | 배드민턴을 한 5년 정도 했어요~ <br>
                    | 코로나 전에는 영화도 혼자 보러 다니기도 했고
                    | 게임도 좋아 한답니다. 요새는 민턴 치러 다니느라 게임을 잘 안하네요 ^^<br>
                    | 일요일 차 끌고 오전 10시~1시까지 화성시로 운동 하고 와요~
                    | 힘들긴 한데, 이거 하나만으로도 주말이 헛되지 않아 좋네요.
        div(class="card font-2em")
            div(class="content")
                div(class="header font-header")
                    | 나이는
            div(class="content")
                div(class="description")
                    | 30대 입니다. <br>
                    | 살짝 동안이라고 듣는 편인데, 유명무실한 이야기라서 ㅋㅋ PASS PASS!!<br>
                    | 솔직히 나이 말하고 차인적도 있어요 ㅠㅠ
        div(class="card font-2em")
            div(class="content")
                div(class="header font-header")
                    | 좋아하는 음식은
            div(class="content")
                div(class="description")
                    | 대체적으로 잘 먹습니다. <br>
                    | 여름에는 냉면이나 김치말이국수 좋아해요 <br>
                    | 겨울에는 오뎅탕이나, 된장국 같은 한국적인 음식을 대체로 좋아합니다.<br>
        //- div(class="card font-2em")
        //-     div(class="content")
        //-         div(class="header font-header")
        //-             | 주량은
        //-     div(class="content")
        //-         div(class="description")
        //-             | 술은 먹다가 놓치면 엄청 먹어용 <br>
        //-             | 먹고 다음날 너무너무 힘들어서 요새는 잘 안먹고 운동하려는데, 인간관계 유지하려면 가끔 술도 먹어야 해서 곤란할때가 있습니다.
        //-             | 소주 1병으로 퉁!
        div(class="card font-2em")
            div(class="content")
                div(class="header font-header")
                    span(class="ui inverted purple text")
                        | YJ님께
            div(class="content")
                div(class="description")
                    | 저는 평일에는 8시 30분까지 출근해요. <br>
                    | 12시 30분~40분까지 일을 하고 바로 점심을 먹으러 가요. <br>
                    | 그러고 나서 <br>
                    span(class="ui inverted purple text") 
                        | YJ님 
                    | 계신 카페에 가서 커피를 산 담니다....<br>
                    | 사실 
                    span(class="ui inverted purple text")  
                        | YJ님
                    | 과 어떻게 해야 더 가까워질까 고민 하고, <br> 부담스러울까? 이건 정말 불편하게 만드는거니까 하고 포기하려 하다가도
                    | 자꾸 아쉬워 지고 생각이 나네요 ㅠㅠ <br><br>
                    | "아무것도 안하면 모르자나요? 그래서 움직이려고 합니다" <br><br>
                    span(class="ui inverted purple text") 
                        | YJ님 
                    | 혹여나 일하시는데 신경쓰이고, <br> 불편한 상황 나오진 않을까 정말 많이 생각 한답니다.<br>
                    | 그래서 이것도 만들게 된 거구요... <br>
                    span(class="ui inverted purple text")  
                        | YJ님!!<br>
                    span(class="ui inverted purple text") 
                        | YJ님
                    | 은 겉 모습만 봤을 땐,<br> 너무 예쁘고 귀여우세요, <br> 
                    | 근데 제가 
                    span(class="ui inverted purple text")  
                        | YJ님
                    | 이 눈에 들어온 건 겉 모습 때문만이 아닙니다 <br>
                    span(class="ui error text") 
                        | 눈, 그리고 눈빛이 너무 좋습니다. 흔들림 없고, 가볍지 않으면서 절제된 그런 매력을 느껴서 입니다. <br> 
                    | 이런 매력에 저도 모르게 빠져 있었는지도 몰라 아쉽고 자꾸 생각 나나 봅니다^^. <br><br>
                    | 그래서 감히 말씀 드립니다.<br>
                    div(class="ui red horizontal label custom")
                        | 19일 금요일 퇴근 하고,
                    | 사적인 관계로 만나고 싶습니다!<br>
                    span(class="ui inverted purple text")
                        | YJ님
                    | 이 원하시는 장소로, 모르시면 제가 정하고요(우선 만난다면)<br>
                    | 제 연락처 혹시 몰라 다시 드려요. <br>
                    span(class="ui inverted blue text")
                        | 010-5301-0816 <br>
                    | 허락 하신다면 19일 금요일날<br> 퇴근 시간을 저에게 알려주세요. <br>(저는 반차)<br><br>
                    | 마지막으로 "손님 대 매니저"가 아닌 <br>
                    | "사람 대 사람"으로 만난다고 <br> 생각 해 주세요. 꼭이용!! ㅠㅠ
         
        